@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

@media (max-width: 992px) and (min-width: 768px) {
  #navBlock,
  #navbarLinks {
    flex-flow: column !important;
  }
}

#carousel-caption {
  bottom: 25%;
  right: 45%;
  left: 11%;
  overflow: hidden;
}

/* Carousel Buttons transition */
#carousel-caption button {
  transition: all 0.3s ease-in;
  transform: translateY(0);

  animation: slidMeBtn 1.1s 0.3s ease-in;
}
@keyframes slidMeBtn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  20% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

/* Carousel heading transition */
#carousel-caption h2 {
  animation: slidMeH2 0.8s 0.3s ease-in;
}
@keyframes slidMeH2 {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Carousel Pararaph transition */
#carousel-caption p {
  animation: slidMePara 0.7s 0.1s ease-in;
}
@keyframes slidMePara {
  0% {
    transform: translatex(50px);
  }
  100% {
    transform: translatex(0);
  }
}

.carousel-item img {
  width: 132% !important;
}

.horizontal-line {
  content: "";
  width: 60px;
  width: 25%;
  height: 2px;
  background-color: #b49d96 !important;
}

#contacts .horizontal-line {
  width: 50px;
  height: 1px;
}

.consultingTitle {
  color: #b09991;
}

.consultingIcons {
  color: rgb(136, 124, 120);
  color: rgb(196, 170, 161);
}

#achievement {
  background: linear-gradient(
      rgba(136, 124, 120, 0.3),
      rgba(136, 124, 120, 0.3)
    ),
    url(./images/achivement.jpg) center/cover fixed no-repeat;
}

#achievement h2 {
  color: #ffffff !important;
  font-family: "Arvo", sans-serif !important;
}

@media (max-width: 768px) {
  #services .d-flex {
    justify-content: center;
  }

  #services .col-md-6 {
    text-align: center;
  }
}

.inputDark {
  background-color: rgb(233, 231, 231);
  font-size: 17px !important;
  padding: 1.2em 0.6 !important;
}

.vHeight {
  height: 80vh;
}

.formImage {
  overflow: hidden;
}
