@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arvo", serif !important;
}

html {
  scroll-behavior: smooth;
}

.title-underline {
  width: 200px;
  height: 8px;
}

/* .about-img {
  background: url(/img/about-bcg.jpeg);
} */

.min-height {
  height: 75vh !important;
}

#parallex {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/projects-1.jpeg) center/cover fixed;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/projects-1.jpeg) center/cover fixed;
}
